.form-container {
  @include bp(xl) {
    margin-top: -15vh;
  }
  width: 80%;
  margin: -5vh auto 0 auto;
  border-radius: $form-border-radius;
  padding: 30px 10px;
  box-shadow: $box-shadow;
  background-color: $white;
  color: $chalkboard-black;

  form {
    width: 90%;
    margin: 0 auto;

    h4 {
      @include secondary-header-font($bright-dark-blue);
      padding-bottom: 1.5vh;
      text-transform: uppercase;
      text-align: left;
      margin: 0;
    }

    p > a {
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: $bright-dark-blue;
      }
    }
  } 
}